.sidebar {
    width: 200px;
    padding: 15px;
  }
  .separator {
    border-left: 2px solid #ccc;
    height: 100vh;
  }
  .main-content {
    max-width: 800px;
    margin: 0 auto;
  }
  .nav-link {
    color: black !important;
    font-weight: bold;
  }
  .nav-link:hover {
    color: #007bff !important;
  }
  