<div class="d-flex flex-column min-vh-100">
    <!-- Global Navbar -->
    <nav class="navbar bg-body-tertiary px-4">
        <a class="navbar-brand d-flex align-items-center gap-2" [routerLink]="'/'" style="cursor: pointer;">
            <!-- <img src="assets/logo.jpg" alt="UpToDate Logo" height="40" style="border-radius: 4px;" /> -->
            <span class="fs-4 fw-bold text-dark">UpToDate</span>
          </a>
        <form class="d-flex mx-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      
        <a class="nav-link active ms-3 fw-semibold" [routerLink]="'/login'">Register / Sign In</a>
      </nav>      
  
    <!-- Page Content -->
    <router-outlet></router-outlet>
  </div>